<% @users.each do |user| %>
	<div class="flyers">
		<h2><%= link_to(user.name, "/users/#{user.id}") %></h2>
		<% posts = @posts.where(user_id: user.id) %>
		<% posts.first(4).each do |post| %>
			<p><%= post.name %>
		<%= post.price %>
			</p>
		<% end %>
	</div>
<% end %>
