<%= form_tag("/posts/create") do %>
	<div class="upload-form">
		<p>product name</p>
		<input name="name" value="<%= @post.name %>">
		<p>product price</p>
		<input name="price" value="<%= @post.price %>">
		<p>product period</p>
		<input name="period" value="<%= @post.period %>">
		<p><input type="submit" value="upload"></p>
	</div>
<% end %>
